<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>First app</title>
    </head>
    <body>
        <h1>{{insert_me}}</h1>
        <p>{{data}}</p>

        
        <table style="width:auto">
            <tr>
              <th>Firstname</th>
              <th>Lastname</th> 
              <th>Email</th>
            </tr>
            {% for data1 in data %}
            </br>
            <tr>
              <td>{{data1.first_name}}</td>
              <td>{{data1.last_name}}</td> 
              <td>{{data1.email}}</td>
            </tr>
            {% endfor %}
          </table>
          <h2>This is picture of nature</h2>
          <img src="{% static 'images/download.jpeg' %}" alt="image">
          <h1> welcome to index</h1>
    </body>
</html>